// COLORS
$color-white: #ffffff;
$color-black: #000000;
$color-inc: #00cec9;
$color-exp: #ff7675;
$color-light-gray: #dfe6e9;
$color-dark-gray: #7f8c8d;
$color-light-blue: #1C60A9;
$color-dark-blue: #061E42;

$gradient-border-large: 5px solid transparent;
$gradient-border-small: 3px solid transparent;


// FONTS
$font: 'Work Sans', sans-serif;

// MIXINS
@mixin transition($element) {
    transition: $element .2s ease-out;
}

// KEYFRAMES
@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-20rem);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(20rem);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}


// BREAKPOINTS
$bp-600: 37.5em; // 600px
$bp-700: 43.75em; // 700px
$bp-900: 56.25em; // 900px
$bp-1200: 75em; // 1200px

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    font-family: $font;
    font-weight: 400;
    line-height: 1.5;
    min-height: 100vh;
    -webkit-touch-callout: none; 
    -webkit-user-select: none; 
    -khtml-user-select: none;
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none;
}