// COLORS
$color-white: #ffffff;
$color-inc: #00cec9;
$color-exp: #ff7675;
$color-light-gray: #dfe6e9;
$color-dark-gray: #7f8c8d;
$color-light-blue: #1C60A9;
$color-dark-blue: #061E42;


// FONTS
$font: 'Work Sans', sans-serif;

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    font-family: $font;
    font-weight: 400;
    line-height: 1.5;
    background-image: linear-gradient(to right, $color-dark-blue, $color-light-blue);
    min-height: 100vh;
}