.red-focus:focus { border: 1px solid $color-exp !important;}

.wallet {
    padding: 3rem 0;
    background-image: url('../images/bg-small.jpg');
    background-size: cover;
    background-position: center;
    color: $color-white;

    @media only screen and (min-width: $bp-900) {
        background-image: linear-gradient(rgba($color-dark-blue, .85), rgba($color-dark-blue, .85)) ,url('../images/bg-large.jpg');
        background-position: bottom;
    }


    &__info {
        // margin-top: 3rem;
    }

    &__title {
        text-transform: uppercase;
        font-size: 1.2rem;
        font-weight: 200;
        letter-spacing: 1px;
        text-align: center;

        @media only screen and (min-width: $bp-600) {
            font-size: 1.4rem;
        }

        @media only screen and (min-width: $bp-900) {
            font-size: 1.6rem;
        }
    }

    &__value {
        text-align: center;
        font-size: 4rem;
        margin-top: -0.6rem;
        letter-spacing: 2px;

        @media only screen and (min-width: $bp-600) {
            font-size: 4.5rem;
        }

        @media only screen and (min-width: $bp-900) {
            font-size: 5rem;
        }
    }

    &__details {
        margin-top: 2rem;
        display: flex;
        justify-content: space-between;
        
        @media only screen and (min-width: $bp-900) {
            justify-content: space-evenly;
        }

        @media only screen and (min-width: $bp-1200) {
            justify-content: center;
        }
    }

    &__incomes, &__expenses {
        width: 45%;
        text-align: center;
        padding: .5rem 0;
        background-color: rgba($color-white, .15);

        @media only screen and (min-width: $bp-600) {
            width: 40%;
        }

        @media only screen and (min-width: $bp-900) {
            padding: 1rem 0;
            width: 30%;
        }

        @media only screen and (min-width: $bp-1200) {
            width: 25%;
            max-width: 35rem;
        }
    }

    &__incomes {
        border-top-right-radius: 2rem;
        border-bottom-right-radius: 2rem;

        @media only screen and (min-width: $bp-600) {
            border-top-right-radius: 2.5rem;
            border-bottom-right-radius: 2.5rem;
        }

        @media only screen and (min-width: $bp-900) {
            border-radius: 0;
        }

        @media only screen and (min-width: $bp-1200) {
            margin-right: 5rem;
        }
    }

    &__expenses {
        border-top-left-radius: 2rem;
        border-bottom-left-radius: 2rem;

        @media only screen and (min-width: $bp-600) {
            border-top-left-radius: 2.5rem;
            border-bottom-left-radius: 2.5rem;
        }

        @media only screen and (min-width: $bp-900) {
            border-radius: 0;
        }
    }

    &__incomes--title, &__expenses--title {
        font-size: 1.2rem;
        letter-spacing: 1px;
        text-transform: uppercase;

        @media only screen and (min-width: $bp-600) {
            font-size: 1.4rem;
        }

        @media only screen and (min-width: $bp-900) {
            font-size: 1.6rem;
        }
    }

    &__incomes--value, &__expenses--value {
        font-size: 2rem;
        letter-spacing: 1px;
        font-weight: 600;

        @media only screen and (min-width: $bp-600) {
            font-size: 2.3rem;
        }

        @media only screen and (min-width: $bp-900) {
            font-size: 2.5rem;
        }
    }

    &__incomes--value {
        color: $color-inc;
    }

    &__expenses--value {
        color: $color-exp;
    }
}

.transactions {
    background-color: $color-white;
    

    &__form {
        box-sizing: border-box;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: $color-light-gray;
        padding: 1rem;
        box-shadow: 0 .5rem 2rem rgba($color-white, 0.2), 0 -.5rem 2rem rgba($color-white, 0.2);
        border-top: 3px solid $color-light-blue;
        border-bottom: 3px solid $color-light-blue;

        @media only screen and (min-width: $bp-900) {
            padding: 1.5rem 2rem;

        }

        @media only screen and (min-width: $bp-1200) {
            justify-content: center;
            
        }
    }

    &__description, &__value, &__type {
        display: block;
        border: 1px solid $color-dark-gray;
        font-family: $font;
        font-size: 1.4rem;
        padding: 0.8rem 1rem;
        color: $color-dark-blue;
        transition: border .2s ease-out;

        @media only screen and (min-width: $bp-600) {
            font-size: 1.6rem;
            padding: 1rem 1.2rem;
        }

        @media only screen and (min-width: $bp-900) {
            font-size: 1.8rem;
            padding: 1.2rem 1.5rem;
        }

        @media only screen and (min-width: $bp-1200) {
            margin-right: 2rem;
        }

        &:focus {
            outline: none;
            border: 1px solid $color-inc;
        }
    }

    &__type {
        width: 4rem;
        padding: 0.8rem 0 0.8rem 0.5rem;
        text-align: center;

        @media only screen and (min-width: $bp-900) {
            width: 5rem;
            padding: 1.2rem 0 1.2rem 0.8rem;
        }
    }

    &__description {
        width: 45%;
        max-width: 50rem;
    }

    &__value {
        width: 17%;
        text-align: center;
        max-width: 20rem;
    }

    &__btn {
        border: none;
        background-color: $color-light-gray;
        cursor: pointer;
        display: block;
        line-height: 1;
        width: 3rem;
        height: 3rem;

        @media only screen and (min-width: $bp-600) {
            width: 3.5rem;
            height: 3.5rem;
        }

        @media only screen and (min-width: $bp-900) {
            width: 4rem;
            height: 4rem;
        }
    }

    &__btn__icon {
        width: 100%;
        height: 100%;
    }
}

.container {
    max-width: 120rem;
    margin: 0 auto;
    padding: 3rem 0;

    @media only screen and (min-width: $bp-900) {
        padding: 4rem;
    }
}

.transactions__list {
    margin: 0 auto;
    padding-bottom: 2rem;
}

.item {
    box-sizing: border-box;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;

    border-top: $gradient-border-small;
    border-bottom: $gradient-border-small;
    background: linear-gradient($color-white, $color-white) padding-box, linear-gradient(to right, $color-light-blue, $color-dark-blue) border-box;


    @media only screen and (min-width: $bp-600) {
        width: 80%;
        padding: 1.5rem 2rem;
    }

    @media only screen and (min-width: $bp-900) {
        border: $gradient-border-large;
    }

    &:not(:last-child) {
        margin-bottom: 1rem;
    }

    &__income {
        border-top-right-radius: 2rem;
        border-bottom-right-radius: 2rem;
        box-shadow: .5rem .5rem 1rem rgba($color-black, 0.2);
        border-right: $gradient-border-small;
        animation: moveInLeft .8s ease-out;

        @media only screen and (min-width: $bp-600) {
            border-top-right-radius: 2.5rem;
            border-bottom-right-radius: 2.5rem;
        }

        @media only screen and (min-width: $bp-900) {
            border-radius: 2.5rem;
            border: $gradient-border-large;
        }

    }

    &__expense {
        margin-left: 10%;
        border-top-left-radius: 2rem;
        border-bottom-left-radius: 2rem;
        box-shadow: -.5rem .5rem 1rem rgba($color-black, 0.2);
        border-left: $gradient-border-small;
        animation: moveInRight .8s ease-out;

        background: linear-gradient($color-light-gray, $color-light-gray) padding-box, linear-gradient(to right, $color-light-blue, $color-dark-blue) border-box;
        

        @media only screen and (min-width: $bp-600) {
            margin-left: 20%;
            border-top-left-radius: 2.5rem;
            border-bottom-left-radius: 2.5rem;
        }

        @media only screen and (min-width: $bp-900) {
            border-radius: 2.5rem;
        }
    }

    &__icon {
        height: 1.5rem;
        transform: rotate(45deg);

        @media only screen and (min-width: $bp-600) {
            height: 2rem;
        }

        &--inc {
        }

        &--exp {
            // order: 2;
        }
    }


    &__info {
        text-align: center;
        width: 50%;
        @include transition(transform);
    }

    &__description {
        font-size: 1.3rem;
        color: $color-dark-blue;
        font-weight: 600;

        @media only screen and (min-width: $bp-600) {
            font-size: 1.5rem;
        }

        @media only screen and (min-width: $bp-900) {
            border-radius: 1.7rem;
        }

        &--inc {

        }

        &--exp {
            // order: 1;
        }
    }

    &__date {
        color: $color-light-blue;
        font-size: 1rem;
        margin-top: -0.3rem;

        @media only screen and (min-width: $bp-600) {
            font-size: 1.2rem;
        }

        @media only screen and (min-width: $bp-900) {
            border-radius: 1.4rem;
        }
    }

    &__value {
        font-size: 1.5rem;
        @include transition(transform);

        @media only screen and (min-width: $bp-600) {
            font-size: 1.8rem;
        }

        @media only screen and (min-width: $bp-900) {
            border-radius: 2rem;
        }

        &--inc {
            color: $color-inc;
        }

        &--exp {
            color: $color-exp;
        }
    }

    &__delete--btn {
        display: none;
        background-image: url(../images/trash.svg);
        background-position: center;
        background-size: cover;
        width: 1.6rem;
        height: 1.8rem;
        border: none;
        background-color: transparent;
        outline: none;
        cursor: pointer;
        transition: opacity 1s;
        opacity: 0;

        @media only screen and (min-width: $bp-900) {
            width: 1.8rem;
            height: 2rem;
        }
    }

    // &:active &__delete--btn {
    //     display: block;
    //     opacity: 1;
    // }

    // &:active &__info {
    //     transform: translateX(-2rem);
    // }

    // &:active &__value {
    //     transform: translateX(-2rem);
    // }

    @media only screen and (min-width: $bp-1200) {
        &:hover &__delete--btn {
            display: block;
            opacity: 1;
        }

        &:hover &__info {
            transform: translateX(-2rem);
        }
    
        &:hover &__value {
            transform: translateX(-2rem);
        }
    }
}

.visible {
    display: block;
    opacity: 1;
}

.moveLeft {
    transform: translateX(-2rem);
}

.loader {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: $color-dark-blue;
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    transition: opacity .5s ease;
}

.loader-finish {
    opacity: 0;
    pointer-events: none;
}